//
   Created by wang on 2017/7/20.
    登陆界面
extends layout

block content
    .div_login(style="border:1px solid red;width:200px;height:200px;top:30%;position:absolute; left:43%")
        input(placeholder="登录账号")
        br
        input(placeholder="登陆密码")
        br
        button 登录

